/*
 Theme Name:   [Beschreibung]
 Description:  Theme for [Beschreibung] website.
 Author:       Denis Brediceanu
 Author URI:   https://wpcorner.de
 Template:     Divi
 Version:      1.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  WPcorner
*/
$primary-color: #2E9CFC;
$secondary-blue: #006DCB;
$cta-color: #32c338;
$cta-color-hover: #2e7d32;
$lightgrey: #c7c7c7;

$box-shadow: 0px 3px 20px 0px rgba(0,0,0,0.2);
$text-color: #525252;

 
/* Typo */

$min_width: 480;
$max_width: 980;

$min_font: 12;
$max_font: 18; 

body { 
	font-size: #{$min_font}px !important;
	line-height: 1.6em;
	overflow-x: hidden;
}
h2 {
	font-size:calc( #{$min_font}px * 2 + (#{$max_font} - #{$min_font})  * ( (100vw - #{$min_width}px) / ( #{$max_width} - #{$min_width}) )) !important;
	font-weight: 600;
}
h3 {
	font-size:calc((#{$min_font}px + (#{$max_font} - #{$min_font})  * ( (100vw - #{$min_width}px) / ( #{$max_width} - #{$min_width}))) + 4px) !important;
	margin-bottom: 15px;
}

@media (min-width: #{$min_width}px) and (max-width: #{$max_width}px){
 	body { 
	    font-size: calc( #{$min_font}px + (#{$max_font} - #{$min_font}) * ( (100vw - #{$min_width}px) / ( #{$max_width} - #{$min_width}) )) !important;
	}
	h2 {
		font-size:calc( #{$min_font}px * 2.2 + (#{$max_font} - #{$min_font})  * ( (100vw - #{$min_width}px) / ( #{$max_width} - #{$min_width}) )) !important;
	}
	h3 {
		font-size:calc( (#{$min_font}px + (#{$max_font} - #{$min_font})  * ( (100vw - #{$min_width}px) / ( #{$max_width} - #{$min_width}))) + 4px) !important;
	}
}
@media (min-width: #{$max_width}px){
   body { 
     font-size: #{$max_font}px !important;
   }
   h2 {
   	font-size: 48px !important;
   }
   h3 {
		font-size: 24px !important;
	}
}

pre {
	background-color: $lightgrey;
	color: $secondary-blue;
	padding: 10px;
    white-space: pre;
    white-space: -moz-pre-wrap; /* fennec */
 	white-space: pre-wrap;
    white-space: pre\9; /* IE7+ */
}



/*---------------------------------------
------- start: Menü CTA -----------------
---------------------------------------*/

.menu-cta {border-radius: 0px;}
.menu-cta a {
	background-color: $cta-color;
	border-radius: 3px;
	color: #fff !important;
	padding: 10px 12px !important;
}
li.menu-cta {
    font-weight: 700; 
    text-align: center; 
    -moz-transition: all 0.5s; 
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

li.menu-cta:hover a {
	background-color:$cta-color-hover;
	opacity: 1 !important;
}
.et-fixed-header #top-menu li.menu-cta>a {
    color: #fff!important;
}
#top-menu li.current-menu-item.menu-cta>a, .et-fixed-header #top-menu li.current-menu-item.menu-cta>a {
	background-color: $cta-color-hover;
	border-radius: 3px;
	color: #fff !important;
}
.et_mobile_menu li.menu-cta a {
	border-bottom: 0;
	padding: 15px 10px !important;
}
 
@media only screen and (min-width : 981px) {
    li.menu-cta {height: 33px;}
}

/*---------------------------------------
--------- end: Menü CTA -----------------
---------------------------------------*/











