.fingerprint-input-container {
	position: relative;
    width: 100%;
    max-width: 500px;
}

input.url-input {
    border: none;
    border-radius: 50px;
    box-shadow: $box-shadow;
    font-size: 16px;
	height: 55px;
	margin: 25px 0;
    padding-left: 30px;
    width: 100%;
}
.fingerprint-btn {
    background-color: $cta-color;
    border-radius: 50px;
    box-shadow: $box-shadow;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
	height: 65px;
    line-height: 65px;
    margin: 30px 0;
    padding: 0 70px 0 25px;
    position: relative;
    transition: all 0.2s ease-in-out;
}
.fingerprint-btn:hover {
	background-color: $cta-color-hover;
	box-shadow: 0px 3px 7px 0px rgba(0,0,0,0.2);
	transform: translateY(3px);
}
.fingerprint-btn::after {
	background: url('images/icon-fingerprint-white.svg') no-repeat;
	background-size: contain;
	content:'';
	position: absolute;
	right: 15px;
	top: 10px;
	width: 45px;
	height: 45px;
}

.signup-btn {
	border: 2px solid #808080;
    border-radius: 50px;
    color: #000;
    display: inline-block;
    height: 55px;
    line-height: 55px;
    margin: 35px 0;
    padding: 0 25px;
}


.bg-fingerprint.hero {
	fill: #1e7fd380;
    z-index: -1;
    width: 1200px;
    height: 1200px;
    position: absolute;
    top: calc( 1vh - 450px);
    left: calc( 100% - 550px);
    transform: rotate(-25deg);
}


/*---------------------------------------
---- start: Section Privacy Button ------
---------------------------------------*/

#section-pb .grid-container {
	box-shadow: $box-shadow;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "title image desc";
}
#section-pb .title {
	color: $primary-color;
	font-size: calc( 12px + 20 * ( (100vw - 480px) / ( 980 - 480) )) !important;
	font-weight: 600;
	grid-area: title;
	line-height: 1.2;
	padding: 25px 30px 25px 25px;
}
#section-pb .image {
	grid-area: image;
	margin: -20px;
}
#section-pb .desc {
	grid-area: desc;
	padding: 25px 25px 25px 35px;
}
@media (min-width: 1400px) {
	#section-pb .title {
		font-size: 48px !important;
	}
}
@media (max-width: 1180px) {
	#section-pb .grid-container {
		grid-template-columns: 1fr 1fr;
		grid-template-areas: "title desc" "image desc";
	}
	#section-pb .image {
		margin: 20px 0 -70px -30px;
	}
	#section-pb img {
		max-height: 200px;
	}
}
@media (max-width: 700px) {
	#section-pb .grid-container {
		grid-template-columns: 1fr;
		grid-template-areas: "title" "desc" "image";
	}
	#section-pb .title {
		font-size:calc( #{$min_font}px * 2.2 + (#{$max_font} - #{$min_font})  * ( (100vw - #{$min_width}px) / ( #{$max_width} - #{$min_width}) )) !important;
	}
	#section-pb .desc {
		grid-area: desc;
		padding: 25px;
	}
}


/*---------------------------------------
------ end: Section Privacy Button ------
---------------------------------------*/


/* Pricing */

.pricing-container {
	display: grid;
	grid-template-columns: 4fr calc(2fr-10px) calc(2fr + 20px) calc(2fr-10px);
	grid-template-rows: 35px 75px 100px repeat(7, minmax(50px, auto));
	grid-template-areas: ". . bestpackage ." "intro pkgtitle1 pkgtitle2 pkgtitle3" "intro pkgprice1 pkgprice2 pkgprice3";
	text-align: center;
}

.bestpackage {
	grid-area: bestpackage;
	background-color: $cta-color;
	border-radius: 6px 6px 0 0;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
}
.intro {
	grid-area: intro;
	font-size: 34px;
	line-height: 50px;
	max-width: 450px;
	text-align: left;
}
.pkgtitle {
	background-color: $primary-color;
	color: #fff;
	font-size: 32px;
	font-weight: 700;
	line-height: 75px;
}
.pkgtitle.free {
	grid-area: pkgtitle1;
	border-radius: 6px 0 0 0;
}
.pkgtitle.premium {
	grid-area: pkgtitle2;
	background-color: $secondary-blue;
	box-shadow: 0 3px 6px 0px rgba(0,0,0,0.45);
}
.pkgtitle.enterprise {
	grid-area: pkgtitle3;
	border-radius: 0 6px 0 0;
	z-index: -1;
}

.pkgprice.free, div[class*="pkgfeature-"]:nth-of-type(4n-3) {
	border-left: 1px solid $primary-color;
}
.pkgprice.enterprise, div[class*="pkgfeature-"]:nth-of-type(4n-1) {
	border-right: 1px solid $primary-color;
}

.pkgprice {
	font-size: 36px;
	font-weight: 700;
	line-height: 100px;
}
.pkgprice .small {
	font-size: 20px;
}
.pkgprice.free {
	grid-area: pkgprice1;
}
.pkgprice.premium {
	grid-area: pkgprice2;
	background-color: $secondary-blue;
	box-shadow: 0 3px 6px 0px rgba(0,0,0,0.45);
	color: #fff;
}
.pkgprice.enterprise {
	grid-area: pkgprice3;
}


div[class^="feature-"], div[class*="pkgfeature-"] {
    border-bottom: 1px solid $primary-color;
    line-height: 50px;
    hyphens: auto;
    padding: 0 5px;
}
div[class^="feature-"] > p, div[class*="pkgfeature-"] > p {
	padding-bottom: 0;
}
div[class^="feature-"] {
	min-width: 150px;
	text-align: left;
}
div[class*="pkgfeature-"]:nth-of-type(4n-2) {
	background-color: $secondary-blue;
	box-shadow: 0 3px 6px 0px rgba(0,0,0,0.45);
	color: #fff;
}

div[class*="icon-"] {
	font-family: ETmodules;
	font-size: 30px;
	font-weight: bold;
}
.icon-pos, div[class*="pkgfeature-"]:nth-of-type(4n-2).icon-pos {
	color: $cta-color;
}
.icon-neg, div[class*="pkgfeature-"]:nth-of-type(4n-2).icon-neg {
	color: #f44336;
}


.feature-1, .pkgfeature-1 {
	grid-row-start: 4;
	border-top: 1px solid $primary-color;
}
.feature-2, .pkgfeature-2 {
	grid-row-start: 5;
}
.feature-3, .pkgfeature-3 {
	grid-row-start: 6;
}
.feature-4, .pkgfeature-4 {
	grid-row-start: 7;
}
.feature-5, .pkgfeature-5 {
	grid-row-start: 8;
}
.feature-6, .pkgfeature-6 {
	grid-row-start: 9;
}
.feature-7, .pkgfeature-7 {
	grid-row-start: 10;
}
.feature-8, .pkgfeature-8 {
	grid-row-start: 11;
}
.feature-9, .pkgfeature-9 {
	grid-row-start: 12;
}
.feature-10, .pkgfeature-10 {
	grid-row-start: 13;
}
.feature-11, .pkgfeature-11 {
	grid-row-start: 14;
}
.feature-12, .pkgfeature-12 {
	grid-row-start: 15;
}
.feature-13, .pkgfeature-13 {
	grid-row-start: 16;
}
.feature-14, .pkgfeature-14 {
	grid-row-start: 17;
}
.btn1, .btn2, .btn3 {
	padding: 0 10px;
}

.btn1 {
	border-left: 1px solid $primary-color;
	border-bottom: 1px solid $primary-color;
	border-radius: 0 0 0 6px;
	grid-column-start: 2; 
	grid-row-start: 18;
}
.btn2 {
	background-color: $secondary-blue;
	border-radius: 0 0 6px 6px;
	grid-column-start: 3; 
	grid-row-start: 18;
}
.btn3 {
	border-right: 1px solid $primary-color;
	border-bottom: 1px solid $primary-color;
	border-radius: 0 0 6px 0;
	grid-column-start: 4; 
	grid-row-start: 18;
}


@media (max-width: 980px) {
	div[class^="feature-"], div[class*="pkgfeature-"] {
	    line-height: 30px;
	    padding: 10px 5px;
	}
}


/* Pricing Switch */

/*.payment-switch {
	font-size: 18px;
  height: 40px;
  margin: 15px 0;
  max-width: 250px;
  background: #6db244;
  border-radius: 50px;
  background-color: #404040;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 1px 0 rgba(0, 0, 0, 0.02), inset -1px 0 rgba(0, 0, 0, 0.02);
}

.payment-switch-input {
  display: none;
}

.payment-switch-label {
  float: left;
  width: 50%;
  line-height: 50px;
  color: white;
  text-align: center;
  cursor: pointer;
  margin-top: -5px;
}
.payment-switch-input:checked + .payment-switch-label {
  font-weight: 600;
  color: #fff;
  background: white;
  border-radius: 50px;
  background-color: $secondary-blue;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.1);
}*/

/* Integrations */
.integrations {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "title" "images";
}
.integrations .logos {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
	grid-gap: 25px;
	align-items: center;
}

@media (min-width: 1020px) {
	.integrations {
		display: grid;
		grid-template-columns: 2fr 3fr;
		grid-template-areas: "title images";
	}
}
@media (min-width: 980px) {
	.integrations .title h2 {
		font-size: 32px !important;
	}
}
@media (max-width: 979px) {
	.integrations .title h2 {
		margin-bottom: 40px;
		text-align: center;
	}
}




/* WordPress Plugin */

#wordpress .et_pb_image.et_pb_has_overlay a.et_pb_lightbox_image {
	overflow: initial;
}

@media (max-width: 980px) {
	#wordpress {
		background-image: linear-gradient(90deg,$primary-color 100%,#fff0 100%)!important;
	}
}

/* Integrations */

#integrations h2 {
	display: inline-block;
	font-size: 34px;
	max-width: 450px;
}

#integrations p, #integrations img {
	display: inline-block;
	vertical-align: super;
}
#integrations img {
	margin: 0 20px;
}


/* Contact Form */

#contact form .pb-code {
	display: none;
}
#contact form.invalid .pb-code {
	display: block;
}
.cf7md-submit {
	justify-self: center;
}
#contact #cf7md-form .mdc-button--primary.mdc-button--raised, .clip-btn {
    background-color: $cta-color;
    border-radius: 50px;
    box-shadow: $box-shadow;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
	height: 65px;
    line-height: 65px;
    margin: 30px 0;
    padding: 0 70px 0 25px;
    position: relative;
    transition: all 0.2s ease-in-out;
    text-transform: none;
}
#contact #cf7md-form .mdc-button--primary.mdc-button--raised::after, .clip-btn::after {
	background: url('images/icon-fingerprint-white.svg') no-repeat;
	background-size: contain;
	content:'';
	position: absolute;
	right: 15px;
	top: 10px;
	width: 45px;
	height: 45px;
	opacity: 1;
	left: initial;
	transform: none;
	transition: all 0.2s ease-in-out;
}
#contact #cf7md-form .mdc-button--primary.mdc-button--raised:disabled::after {
	opacity: 0.6;
}

form.sent > #cf7md-form {
	display: none;
}
.clip-btn {
	cursor: pointer;
	color: #fff;
	display: block;
	margin: 40px auto 0;
}

